<h1>Triangle class</h1>

<form action="/result">
  <div>
    <label for="a_field">A</label>
    <input type="text" name="a_field" id="a_field" value="">
  </div>
  <div>
    <label for="b_field">B</label>
    <input type="text" name="b_field" id="b_field" value="">
  </div>
  <div>
    <label for="c_field">C</label>
    <input type="text" name="c_field" id="c_field" value="">
  </div>
  <button type="submit" name="send" id="send">Submit</button>
</form>

<!-- <form action="/result">
  <input type="text" id="aField" name="aField">
  <button type="submit" name="Submit">Submit</button>
</form> -->
